@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    
    font-size: 23px;
}
body{
    background-color: rgb(92, 6, 173);
    display: flex
;
font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}
#main-box{
    /* height: 500px;
    width: 600px;
    display: flex;
    background-color: rgb(252, 202, 1);
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center; */
    height: 500px;
    width: 600px;
    display: flex
;
    background-color: rgb(252, 202, 1);
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
#inputs{
    margin-top: 50px;
    font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}
button{
    background-color: rgb(243, 0, 243);
    height: 45px;
    width: 80px;
    border-radius: 20px;
    font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}
#inp-txt{
    height: 40px;
    width: 400px;
    text-align: center;
}
#disp{
    display: flex
;
    height: 360px;
    flex-direction: column;
    flex-wrap: wrap;
}